@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #1992d4;
  --seconday-color: #e2e8f0;
  --accent-color: #f0b324;
  --primary-text-color: #78716c;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-header: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
    --avatar1: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/06fbe298931623.5ee79b6a90221.jpg);
    --avatar2: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2e80bb98931623.5ee79b6a8f342.jpg);
    --avatar3: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/8394f798931623.5ee79b6a909ea.jpg);
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

button,
input {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 4fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar stlying section */
.sidebar {
  background-color: #1992d4;
  color: #fff;
  grid-row: 1/3;
  padding: 1.5rem;
}

.sidebarTitle {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.sidebarTitle > .material-icons {
  font-size: 1.2em;
  margin-right: 10px;
}

.navigation {
  font-size: 1.2rem;
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
}

.navigationItem {
  font-weight: 700;
}

.navigationLink {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navigationLink > .material-icons-outlined {
  font-size: 1.75rem;
}

/* header styling section*/
.header {
  background-color: #fff;
  padding: 1.5rem 3rem;
  box-shadow: var(--shadow-header);
}

.top {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
}

.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.searchBar label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  font-size: 2rem;
}

.searchBar #searchBar {
  display: inline-block;
  border: 0;
  border-radius: 99em;
  background-color: var(--seconday-color);
  margin-left: 1rem;
  padding: .5em 2em;
  width: min(80%, 700px);
}

.header .account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.picture {
  background: url("images/Lepus_europaeus_\(Causse_Méjean\,_Lozère\)-cropped\ \(2\).jpg") center center / cover no-repeat;
  border-radius: 50%;
}

.account .picture {
  margin: 0 1rem 0 2.5rem;
  height: 40px;
  width: 40px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accountBottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accountBottom .picture {
  width: 75px;
  height: 75px;
}

.accountName .greeting {
  font-weight: 700;
}

.accountName .name{
  font-size: 1.5rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.headerButton {
  background-color: var(--primary-color);
  color: #fff;
  padding: .75em 2em;
  border-radius: 99em;
}

/* content page styling section*/
.content {
  background-color: var(--seconday-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  overflow: auto;
  grid-template-areas: 
    'projects announcements'
    'projects trending';
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

.cardText {
  color: var(--primary-text-color);
}

.projects {
  grid-area: projects;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 250px;
  gap: 2rem;
}

.projects .card {
  border-left: 10px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.projects .cardText {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.actions {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.actions span {
  font-size: 1.5rem;
}

.announcements {
  grid-area: announcements;
}

.announcement {
  width: 25ch;
  padding: 1rem 0;
}

.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  padding-bottom: 0;
}

.announcement h5 {
  font-size: 0.8rem;
  margin-bottom: .25rem;
}

.announcement p {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.announcement + .announcement {
  border-top: 1px solid var(--primary-text-color);
}

.trending {
  grid-area: trending;
}

.trending .card {
  padding: 1.5rem;
}

.trend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trend + .trend {
  margin-top: 1.5rem;
}

.trend .picture {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.trend .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.8rem;
}

.trend .username {
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.trend1 .picture {
  background-image: var(--avatar1);
}

.trend3 .picture {
  background-image: var(--avatar2);
}

.trend4 .picture {
  background-image: var(--avatar3);
}
